<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Comments</title>
</head>
<body>
    <h2>{{ courses.name }}</h2>
    <p>Add comment</p>
    <form action="/comment/create/{{courses.id}}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <div class="text-left">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
    <hr>
    <h5>Comments</h5>
        {% for comment in courses.comments.all %}
        <ul>
            <li>{{ comment.comment }}</li>
        </ul>
        {% endfor %}
    </table>
    <div class="text-left">
        <a href="/" role="button" class="btn btn-primary">Back</a>
    </div>
</body>
</html>