<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <title>Courses</title>
</head>
<body>
    <h3>Are you sure you want to delete the following course?</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>Name:</td>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ course.description.content }}</td>
            </tr>
        </tbody>
    </table>
    <form action="/delete/{{course.id}}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="btn-group text-center" role="group">
                    <a href="/" role="button" class="btn btn-secondary">No</a> 
                    <button type="submit" class="btn btn-danger">Yes! I want to delete this</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>